/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Labs Cards */
.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.card-body {
    padding: 1.5rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Footer Styles */
footer {
    font-size: 0.9rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: underline;
}
